<a href="https://colab.research.google.com/github/mihail1707/dap-2024/blob/main/les04/lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Лабораторная работа №4.
# Анализ данных пассажиров "Титаника"

Гибель Титаника – одно из самых печально известных кораблекрушений в истории.

15 апреля 1912 года во время своего первого плавания считавшийся «непотопляемым» «Титаник» затонул после столкновения с айсбергом.
К сожалению, спасательных шлюпок для всех находившихся на борту не хватило, в результате чего погибли 1502 из 2224 пассажиров и членов экипажа.

Используя набор данных titanic.csv выполните следующие 10 заданий.

In [ ]:
import numpy as np
import pandas as pd
from google.colab import files
uploaded = files.upload()

Saving titanic.csv to titanic (30).csv

1. Создайте DataFarame из файла titanic.csv, в качестве индекса используйте столбец "PassengerId"

In [ ]:
# Ваш код здесь
df = pd.read_csv('titanic.csv', index_col='PassengerId')
print(df)

             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3
...               ...     ...
887                 0       2
888                 1       1
889                 0       3
890                 1       1
891                 0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0
...                                                        ...     ...   ...
887                                      Montvila, Rev. Juozas    male  27.0
888                               Graham, Miss. Margaret Edith  female  19.0
889                   Johnston, Miss. Catherine Helen "Carrie"  female   NaN
890                                      Behr, Mr. Karl Howell    male  26.0
891                                        Dooley, Mr. Patrick    male  32.0

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S
...            ...    ...               ...      ...   ...      ...
887              0      0            211536  13.0000   NaN        S
888              0      0            112053  30.0000   B42        S
889              1      2        W./C. 6607  23.4500   NaN        S
890              0      0            111369  30.0000  C148        C
891              0      0            370376   7.7500   NaN        Q

[891 rows x 11 columns]

2. Просмотрите первые 6 строк

In [ ]:
# Ваш код здесь
print(df.head(6))

             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3
6                   0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0
6                                             Moran, Mr. James    male   NaN

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S
6                0      0            330877   8.4583   NaN        Q

3. Выведите описание данных

In [ ]:
# Ваш код здесь
description = df.describe()
print(description)

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

4. Сколько мужчин / женщин находилось на борту?

In [ ]:
# Ваш код здесь
gender_counts = df['Sex'].value_counts()
print(gender_counts)

Sex
male      577
female    314
Name: count, dtype: int64

4. Выведите распределение переменной Pclass (социально-экономический статус) и это же распределение, только для мужчин / женщин по отдельности. Сколько было мужчин 2-го класса

In [ ]:
# Ваш код здесь
pclass_distribution = df['Pclass'].value_counts()
print(f"Распределение классов:{pclass_distribution}")

male = df[df['Sex'] == 'male']['Pclass'].value_counts()
print(f"Распределение классов для мужчин:{male}")

female = df[df['Sex'] == 'female']['Pclass'].value_counts()
print(f"Распределение классов для женщин:{female}")

num_males_2nd_class = male.get(2, 0)
print(f"Кол-во мужчин во 2 классе: {num_males_2nd_class}")

Распределение классов:Pclass
3    491
1    216
2    184
Name: count, dtype: int64
Распределение классов для мужчин:Pclass
3    347
1    122
2    108
Name: count, dtype: int64
Распределение классов для женщин:Pclass
3    144
1     94
2     76
Name: count, dtype: int64
Кол-во мужчин во 2 классе: 108

5. Каковы медиана и среднеквадрати́чное отклонение платежей (Fare)? Округлите до 2 десятичных знаков.

In [ ]:
# Ваш код здесь
median_fare = round(df['Fare'].median(), 2)
std_fare = round(df['Fare'].std(), 2)
print(f"Медиана платежей: {median_fare}")
print(f"Отклонение платежей: {std_fare}")

Медиана платежей: 14.45
Отклонение платежей: 49.69

6. Правда ли, что люди моложе 30 лет выживали чаще, чем люди старше 60 лет? Каковы доли выживших в обеих группах?

In [ ]:
# Ваш код здесь
young_group = df[df['Age'] < 30]
old_group = df[df['Age'] > 60]
young_survival_rate = young_group['Survived'].mean()
old_survival_rate = old_group['Survived'].mean()
print(f"Люди моложе 30: {young_survival_rate:.2f}")
print(f"Люди Старше 60: {old_survival_rate:.2f}")

Люди моложе 30: 0.41
Люди Старше 60: 0.23

7. Правда ли, что женщины выживали чаще мужчин? Каковы доли выживших в обеих группах?

In [ ]:
# Ваш код здесь
male_group = df[df['Sex'] == 'male']
female_group = df[df['Sex'] == 'female']
male_survival_rate = male_group['Survived'].mean()
female_survival_rate = female_group['Survived'].mean()
print(f"Мужчины: {male_survival_rate:.2f}")
print(f"Женщины: {female_survival_rate:.2f}")

Мужчины: 0.19
Женщины: 0.74

8.  Найдите самое популярное имя среди пассажиров Титаника мужского пола?

In [ ]:
# Ваш код здесь
male_passengers = df[df['Sex'] == 'male'].copy()
male_passengers.loc[:, 'First Name'] = male_passengers['Name'].str.extract(r'\.\s*([^ ]+)')[0]
most_common_name = male_passengers['First Name'].mode()[0]
name_count = male_passengers['First Name'].value_counts().loc[most_common_name]
print(f"Популярное имя '{most_common_name}'")

Популярное имя 'William'



9. Как отличается средний возраст мужчин / женщин в зависимости от класса обслуживания? Выберите верные утверждения:

    В среднем мужчины 1-го класса старше 40 лет
    В среднем женщины 1-го класса старше 40 лет
    Мужчины всех классов в среднем старше женщин того же класса
    В среднем люди в 1 классе старше, чем во 2-ом, а те старше представителей 3-го класса

In [ ]:
# Ваш код здесь
average_age = df.groupby(['Pclass', 'Sex'])['Age'].mean().reset_index()
print(average_age)

   Pclass     Sex        Age
0       1  female  34.611765
1       1    male  41.281386
2       2  female  28.722973
3       2    male  30.740707
4       3  female  21.750000
5       3    male  26.507589

10. Сравните возраст у спасенных и у погибших пасажиров. Средний возраст погибших выше, верно?

In [ ]:
# Ваш код здесь
df = df.dropna(subset=['Age'])
average_age_survived = df[df['Survived'] == 1]['Age'].mean()
average_age_died = df[df['Survived'] == 0]['Age'].mean()
print(f"Средний возраст спасенных пассажиров: {average_age_survived:.2f} лет")
print(f"Средний возраст погибших пассажиров: {average_age_died:.2f} лет")
if average_age_survived > average_age_died:
    print("Нет, Средний возраст спасенных выше.")
else:
    print("Да, средний возраст погибших выше.")

Средний возраст спасенных пассажиров: 28.34 лет
Средний возраст погибших пассажиров: 30.63 лет
Да, средний возраст погибших выше.

### Дополнительные вопросы для защиты

1. Что такое медиана? Рассчитать медиану для предложенного ряда чисел.
2. Что такое дисперсия? Рассчитать дисперсию для предложенного ряда чисел.
3. Что такое среднеквадратичное отклонение? Рассчитать среднеквадратичное отклонение для предложенного ряда чисел.
4. Что такое Series и чем он отличается от DataFrame
5. Можно ли изменить индекс в Series после создания объекта?
6. Можно ли выполнить операцию сложения над двумя объектами Series, если они имеют:
- одинаковые типы данных, одинаковые размеры и одинаковые индексы?
- одинаковые типы данных, одинаковые размеры, но разные индексы?,  
- одинаковые типы данных, разные размеры и одинаковые индексы?
- разные типы данных, одинаковые размеры и одинаковые индексы?
- разные типы данных, одинаковые размеры и разные индексы?
- разные типы данных, разные размеры и разные индексы?
7. Что такое DataFrame и чем он отличается от Series
8. Что необходимо сделать, чтобы число строк в DateFrame при его просмотре, по умолчанию составляло 8?
9. Чем отличается метод iloc от метода loс
10. Можно ли добавить в DateFrame дополнительный Series?
11. Требуются ли установка дополнительных библиотек для загрузки с помощью pandas файлов в формате CSV? Excel (.xls)? Json?