<a href="https://colab.research.google.com/github/cherkashin-py/dap-2024/blob/main/rep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Лабораторная работа №4. Анализ данных пассажиров "Титаника"**

**Задание 1. Создайте DataFarame из файла titanic.csv, в качестве индекса используйте столбец "PassengerId"**

In [16]:
import numpy as np
import pandas as pd
# Загрузка данных из файла и установка индекса "PassengerId"
file_path = 'titanic.csv'
titanic_df = pd.read_csv(file_path, index_col="PassengerId")

**Задание 2. Просмотрите первые 6 строк**

In [17]:
import numpy as np
import pandas as pd
# Загрузка данных из файла и установка индекса "PassengerId"
file_path = 'titanic.csv'
titanic_df = pd.read_csv(file_path, index_col="PassengerId")

# Просмотр первых 6 строк
print("Первые 6 строк:")
print(titanic_df.head(6))

Первые 6 строк:
             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3
6                   0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0
6                                             Moran, Mr. James    male   NaN

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S
6                0      0            330877   8.4583   NaN        Q

**Задание 3. Выведите описание данных**

In [18]:
import numpy as np
import pandas as pd
# Загрузка данных из файла и установка индекса "PassengerId"
file_path = 'titanic.csv'
titanic_df = pd.read_csv(file_path, index_col="PassengerId")
# Описание данных
print("\nОписание данных:")
print(titanic_df.describe())

Описание данных:
         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

**Задание 4.Сколько мужчин / женщин находилось на борту? Выведите распределение переменной Pclass (социально-экономический статус) и это же распределение, только для мужчин / женщин по отдельности. Сколько было мужчин 2-го класса**

In [20]:
import numpy as np
import pandas as pd
# Загрузка данных из файла и установка индекса "PassengerId"
file_path = 'titanic.csv'
titanic_df = pd.read_csv(file_path, index_col="PassengerId")
# Количество мужчин и женщин на борту
gender_counts = titanic_df['Sex'].value_counts()
print("\nКоличество мужчин и женщин на борту:")
print(gender_counts)
# Распределение Pclass
pclass_counts = titanic_df['Pclass'].value_counts()
print("\nРаспределение Pclass (социально-экономический статус):")
print(pclass_counts)

# Распределение Pclass для мужчин и женщин
pclass_gender_counts = titanic_df.groupby(['Sex', 'Pclass']).size()
print("\nРаспределение Pclass по полу:")
print(pclass_gender_counts)

# Количество мужчин 2-го класса
men_second_class_count = pclass_gender_counts['male'][2]
print("\nКоличество мужчин 2-го класса:", men_second_class_count)

Количество мужчин и женщин на борту:
Sex
male      577
female    314
Name: count, dtype: int64

Распределение Pclass (социально-экономический статус):
Pclass
3    491
1    216
2    184
Name: count, dtype: int64

Распределение Pclass по полу:
Sex     Pclass
female  1          94
        2          76
        3         144
male    1         122
        2         108
        3         347
dtype: int64

Количество мужчин 2-го класса: 108

**Задание 5. Каковы медиана и среднеквадратичное отклонение платежей (Fare)? Округлите до 2 десятичных знаков.**

In [21]:
import numpy as np
import pandas as pd
# Загрузка данных из файла и установка индекса "PassengerId"
file_path = 'titanic.csv'
titanic_df = pd.read_csv(file_path, index_col="PassengerId")
# Медиана и среднеквадратичное отклонение платежей
fare_median = np.round(titanic_df['Fare'].median(), 2)
fare_std = np.round(titanic_df['Fare'].std(), 2)
print("\nМедиана и среднеквадратичное отклонение платежей:")
print(f"Медиана: {fare_median}, СКО: {fare_std}")

Медиана и среднеквадратичное отклонение платежей:
Медиана: 14.45, СКО: 49.69

**Задание 6. Правда ли, что люди моложе 30 лет выживали чаще, чем люди старше 60 лет? Каковы доли выживших в обеих группах?**

In [22]:
import numpy as np
import pandas as pd
# Загрузка данных из файла и установка индекса "PassengerId"
file_path = 'titanic.csv'
titanic_df = pd.read_csv(file_path, index_col="PassengerId")
# Доли выживших среди моложе 30 и старше 60 лет
survival_young = titanic_df[titanic_df['Age'] < 30]['Survived'].mean()
survival_old = titanic_df[titanic_df['Age'] > 60]['Survived'].mean()
print("\nДоли выживших среди моложе 30 и старше 60 лет:")
print(f"Моложе 30 лет: {survival_young:.2f}, Старше 60 лет: {survival_old:.2f}")

Доли выживших среди моложе 30 и старше 60 лет:
Моложе 30 лет: 0.41, Старше 60 лет: 0.23

**Задание 7. Правда ли, что женщины выживали чаще мужчин? Каковы доли выживших в обеих группах?**

In [23]:
import numpy as np
import pandas as pd
# Загрузка данных из файла и установка индекса "PassengerId"
file_path = 'titanic.csv'
titanic_df = pd.read_csv(file_path, index_col="PassengerId")
# Доли выживших среди мужчин и женщин
survival_by_gender = titanic_df.groupby('Sex')['Survived'].mean()
print("\nДоли выживших среди мужчин и женщин:")
print(survival_by_gender)

Доли выживших среди мужчин и женщин:
Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

**Задание 8. Найдите самое популярное имя среди пассажиров Титаника мужского пола?**

In [25]:
import numpy as np
import pandas as pd
# Загрузка данных из файла и установка индекса "PassengerId"
file_path = 'titanic.csv'
titanic_df = pd.read_csv(file_path, index_col="PassengerId")
# Самое популярное имя среди пассажиров мужского пола
# Извлечение первого имени из полного имени, исключая обращения
titanic_df['FirstName'] = titanic_df['Name'].str.extract(r'^[^,]+,\s+[^.]+\.\s+(\w+)', expand=False)
male_names = titanic_df[titanic_df['Sex'] == 'male']['FirstName']
popular_male_name = male_names.value_counts().idxmax()
print("\nСамое популярное имя среди мужчин:", popular_male_name)

Самое популярное имя среди мужчин: William

**Задание 9. Как отличается средний возраст мужчин / женщин в зависимости от класса обслуживания? Выберите верные утверждения:
В среднем мужчины 1-го класса старше 40 лет В среднем женщины 1-го класса старше 40 лет Мужчины всех классов в среднем старше женщин того же класса В среднем люди в 1 классе старше, чем во 2-ом, а те старше представителей 3-го класса**

In [26]:
import numpy as np
import pandas as pd
# Загрузка данных из файла и установка индекса "PassengerId"
file_path = 'titanic.csv'
titanic_df = pd.read_csv(file_path, index_col="PassengerId")
# Средний возраст мужчин и женщин по классу
mean_age_by_sex_class = titanic_df.groupby(['Pclass', 'Sex'])['Age'].mean()
print("\nСредний возраст мужчин и женщин по классу:")
print(mean_age_by_sex_class)

# Проверка утверждений о возрасте и выживших
print("\nАнализ утверждений:")
print("1. Мужчины 1-го класса в среднем старше 40 лет:", mean_age_by_sex_class[1, 'male'] > 40)
print("2. Женщины 1-го класса в среднем старше 40 лет:", mean_age_by_sex_class[1, 'female'] > 40)
print("3. Мужчины всех классов в среднем старше женщин того же класса:", all(mean_age_by_sex_class.loc[i, 'male'] > mean_age_by_sex_class.loc[i, 'female'] for i in range(1, 4)))
print("4. Люди в 1 классе старше, чем во 2-ом, а те старше 3-го:", all(mean_age_by_sex_class.loc[i].mean() > mean_age_by_sex_class.loc[i+1].mean() for i in range(1, 3)))

Средний возраст мужчин и женщин по классу:
Pclass  Sex
1       female    34.611765
        male      41.281386
2       female    28.722973
        male      30.740707
3       female    21.750000
        male      26.507589
Name: Age, dtype: float64

Анализ утверждений:
1. Мужчины 1-го класса в среднем старше 40 лет: True
2. Женщины 1-го класса в среднем старше 40 лет: False
3. Мужчины всех классов в среднем старше женщин того же класса: True
4. Люди в 1 классе старше, чем во 2-ом, а те старше 3-го: True

**Задание 10. Сравните возраст у спасенных и у погибших пасажиров. Средний возраст погибших выше, верно?**

In [27]:
import numpy as np
import pandas as pd
# Загрузка данных из файла и установка индекса "PassengerId"
file_path = 'titanic.csv'
titanic_df = pd.read_csv(file_path, index_col="PassengerId")
# Средний возраст среди спасенных и погибших
mean_age_by_survival = titanic_df.groupby('Survived')['Age'].mean()

# Проверка, выше ли средний возраст погибших
is_age_higher_for_non_survivors = mean_age_by_survival[0] > mean_age_by_survival[1]

print("\nСредний возраст среди спасенных и погибших:")
print(mean_age_by_survival)
print("\nСредний возраст погибших выше, верно?", is_age_higher_for_non_survivors)

Средний возраст среди спасенных и погибших:
Survived
0    30.626179
1    28.343690
Name: Age, dtype: float64

Средний возраст погибших выше, верно? True

**Вывод: Были приобретены навыки работы с набором данных**